@import url('https://fonts.googleapis.com/css?family=Kodchasan');
body {
  background-image: url(../img/background.png);
  color: white;
  font-family: 'Kodchasan', sans-serif;
}
.container-fluid {
  margin-top: 40px;
}
p,
ul,
li {
  font-size: 20px;
}
