@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
body {
  background: url(../img/background.png);
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}
.container-fluid {
  margin-top: 40px;
}
p,
ul,
li {
  font-size: 20px;
}
