.intro {
    $white: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;

    &.wrapper {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background: rgba(black, .5);
        }
    }

    &,
    &>.container>.row {
        min-height: 600px;
        height: 100vh;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
        color: $white;
        font-weight: 900;

        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }
    }

    p {
        color: $white;
        font-size: font-size-base;
        line-height: 1.5;
        font-weight: 300;

    }
}