$white: #fff;
$margin-top: 40px;
$font-size: 20px;
@import url('https://fonts.googleapis.com/css?family=Lemon');
$font-stack: 'Lemon', cursive;

body {
    background: url(../img/background.png);
    color: $white;
    font-family: $font-stack;
}

.container-fluid {
    margin-top: $margin-top;
}

p,
ul,
li {
    font-size: $font-size;
}