header {
    * {
        z-index: 999;
    }

    height: 55vw;
    background: url('../../img/bg.jpg') no-repeat scroll center center;
    background-size: cover;

    &::before {
        content: "";
        height: 55vw;
        width: 100%;
        background-color: rgba(black, 0.5);
        position: absolute;
    }

    nav {
        .nav-item {
            margin-right: 5px;

            .nav-link {
                letter-spacing: 1px;
            }
        }

        .navbar-brand {
            font-size: 40px;
            font-weight: 600;
            line-height: 48px;
        }

        .nav-item {
            .icon {
                font-weight: 600;

                .fa-phone {
                    color: $orange;
                    margin-right: 8px;
                    transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                }
            }

            .nav-link {
                color: #DDD;

            }

            .active {
                color: white;
            }
        }
    }

}