h1{
	border: 1px solid white;
}

.nav{
	color:blue;
	font-family: Calibri, sans-serif;
	background-image:url("https://ichef.bbci.co.uk/images/ic/720x405/p0517py6.jpg");
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: center;
	background-color:yellow;
	padding: 50px;
}

.main{
	color:white;
	background-color:black;
	margin: 20rem;	
}

.nav,.main{
	margin-bottom: 20rem;
	font-size: 1.5em;
}

.media{
	display:inline;
	float: right;
}
