@import url('https://fonts.googleapis.com/css?family=Mina');
body{
  background-image: url(../img/background.png);
  color: white;
  font-family: 'Mina', sans-serif;
}
.container-fluid{
  margin-top: 40px;
}
p,ul,li{
  font-size: 20px;
}
