@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

body{
  background-image: url(../img/background.png);
  color: white;
  font-family: 'Alfa Slab One', cursive;
  font-display: auto;
}
.container-fluid{
  margin-top: 40px;
}
p,ul,li{
  font-size: 20px;
}
