.stats {
    background: no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    
    .layer {
        background: rgba(0, 0, 0, 0.45);
    }
    h3.heading {
        color: #fff;
    }
}

p.counter {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
}

.text-stat p {
    color: #eee;
    font-size: 15px;
    letter-spacing: .5px;
}

p.p-text {
    color: #ddd;
    font-size: 15px;
}

.stats-left span.fa {
    font-size: 35px;
    color: #00aeff;
}

.stat-text h4 {
    font-size: 22px;
    color: #d5d5d5;
    line-height: 35px;
    padding: 1em;
    border: 8px solid #aaa;
}
