figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 20px;
}
figure:hover:after {
  content: "";
  position: absolute;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
}
