.advantages p {
color: #777;
}

.advantages h3{
font-size: 22px;
line-height: 35px;
letter-spacing: 1px;
color: #343a40;
text-transform: capitalize;
}

.content-grid-info {
padding: 1em 1em;
}
.content-grid-info h4 {
font-size: 1em;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 700;
}

.content-grid-info span {
text-align: center;
color: #fa8383;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
font-size: 2em;
line-height: 3em;
}

.content-grid-info:hover span {
color: #fa8383;
}