@font-face {
    font-family: "jaapokki-regular";
    src: url("../fonts/jaapokki/jaapokki-regylar.eot");
    src:
        url("../fonts/jaapokki/jaapokki-regular.woff") format("woff"),
        url("../fonts/jaapokki/jaapokki-regular.svg#filename") format("svg");
}

html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #323648;
    font-family: 'jaapokki-regular', sans-serif;
}

li {
    list-style-type: none;
}