.footer-section {
padding: 7em 0;
background-color: lighten(black, 98%);

p {
font-size: 1rem;
}

h3 {
font-size: .9rem;
letter-spacing: .1rem;
text-transform: uppercase;
color: black;
margin-bottom: 1.5rem;
font-weight: 900;
}

.footer-links {
li {
margin-bottom: 10px;
}
}
}

.footer-subscribe {
.btn {
height: 43px;
line-height: 1;
}
}