.footer-section {
    padding: 7em 0;
    background-color: lighten(black, 98%);
    background: no-repeat scroll center center;
    background-size: cover;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(black,0.6);
    }

    p {
        font-size: 1rem;
        color: white;
    }
    a{
        color: white;
    }

    h3 {
        font-size: .9rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        color: white;
        margin-bottom: 1.5rem;
        font-weight: 900;
    }

    .footer-links {
        li {
            margin-bottom: 10px;
        }
    }
}

.footer-subscribe {
    .btn {
        height: 43px;
        line-height: 1;
    }
}