.advantages-grids p {
color: #777;
}

.advantages-grids span.fa, span.fab {
font-size: 30px;
}

.advantages-grids h3{
font-size: 22px;
line-height: 35px;
letter-spacing: 1px;
color: #343a40;
text-transform: capitalize;
}
.grid4 span.fa {
color: #ff4f81;
}

.grid5 span.fa {
color: #2dde98;
}

.grid6 span.fa {
color: #1cc7d0;
}

.grid7 span.fab {
color: #3369e7;
}