.advantages-grids p {
color: #777;
}

.advantages-grids span.fa, span.fab {
font-size: 30px;
}

.advantages-grids h3{
font-size: 22px;
line-height: 35px;
letter-spacing: 1px;
color: #343a40;
text-transform: capitalize;
}
.grid4 span.fa,
.grid5 span.fab,
.grid6 span.fas,
.grid7 span.far {
    padding-top: 15%;
    color: white;
    background: #EE3B24;
    font-size: 35px;
    height: 90px;
    width: 90px;
    border-top: 10px solid;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid transparent;
}