$red: #F42F2C;
$white: #fff;
$black: #000;
$grey: #777;
body {
    p,a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: $grey;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Pacifico', cursive;
    }
}