.header-area {
    nav {
        z-index: 100;
        background-color: $white;
        height: 100vh;
        box-shadow: -2px 50px 30px -3px rgba($black, .2);

        .nav-logo {
            margin-top: 30px;
        }

        .nav-items {
            .nav-item {
                height: 50px;
                width: 150px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: start;
                padding-left: 20px;
                color: $black;
                text-decoration: none;
                transition: 0.1s linear;
                -webkit-transition: 0.1s linear;
                -moz-transition: 0.1s linear;
                -ms-transition: 0.1s linear;
                -o-transition: 0.1s linear;

                &:hover {
                    color: $white;
                    background-color: $red;
                    box-shadow: 0px 10px 60px rgba($red, .2);
                }

                img {
                    margin-right: 15px;
                }
            }

            .active {
                color: $white;
                background-color: $red;
                box-shadow: 0px 10px 60px 5px rgba($red, .2);
}
        }
    }
}
