.intro {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 100vh;

    .video {
        .btn {
            background-color: $white;
            height: 60px;
            width: 60px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }

        p {
            font-size: 14px;
            line-height: 28px;
        }
    }

    .offer {
        background-color: $white;

        h6 {
            font-size: 14px;
        }

        .pacifico {
            font-family: "Pacifico", cursive;
            font-weight: 400;
            font-size: 42px;
        }

        .btn-explore {
            color: $black;
            border: $red solid 1px;
            background-color: $white;
            font-weight: 500;
            font-size: 12px;
            line-height: 50px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            transition: 0.1s linear;
            -webkit-transition: 0.1s linear;
            -moz-transition: 0.1s linear;
            -ms-transition: 0.1s linear;
            -o-transition: 0.1s linear;

            &:hover {
                color: $white;
                background-color: $red;
            }
        }

    }

}