.intro {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

    .video {
        .btn {
            background-color: $white;
            height: 60px;
            width: 60px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }

        p {
            font-size: 14px;
            line-height: 28px;
        }
        h5{
            font-family: 'Roboto',sans-serif;
        }
    }

    .offer {
        background-color: $white;

        .pacifico {
            font-weight: 400;
            font-size: 42px;
        }

    }

}