body{
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Raleway', sans-serif;
        color: #444444;
    }
    a,p,li{
        font-family: 'Open Sans', sans-serif;
    }
    ::selection{
        background: $blue;
    }
}