header {
    *{
        z-index: 9999;
    }
    width: 100%;
    position: absolute;
    nav {
        background-color: rgba(black, 0.5);
        .navbar-brand{
            font-weight: bold;
            font-size: 36px;
        }
        .green {
            color: #3ec1d5;
        }
        .nav-item{
            margin-right: 5px;
        }
    }

    .nav-link {
        color: white;
        letter-spacing: 1px;
        transition: color 0.2s ease;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        -ms-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;

        &:hover {
            text-decoration: none;
            color: #3dBDD1;
        }
    }
    .active{
        text-decoration: underline;
    }

    .dropdown-menu {
        background-color: black;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;

        .dropdown-item {
            padding: 10px 0px 10px 10px;

            &:nth-child(1) {
                margin-bottom: 10px;
            }

            color: white;

            &:hover {
                background-color: black;
            }
        }
    }
}
.nav-scrolled{
    background-color: black;
    position: fixed;
    width: 100%;
    .fa-bars{
        color: white;
    }
}