.intro {
    * {
        z-index: 999;
    }
    .first-item,
    .second-item,
    .third-item{
        height: 90vh;
    }
    .first-item{
        background: url('../img/slider/slider1.jpg') no-repeat scroll center center;
        background-size: cover;
    }
    .second-item {
        background: url('../img/slider/slider2.jpg') no-repeat scroll center center;
        background-size: cover;
    }
    .third-item {
        background: url('../img/slider/slider3.jpg') no-repeat scroll center center;
        background-size: cover;
    }
    .owl-dots{
        position: absolute;
        bottom: 0;
        margin-bottom: 1%;
        margin-left: calc(50% - 40px);
    }

    h4,
    h1 {
        color: white;
        font-weight: bold;
    }

    h4 {
        font-size: 24px;
    }

    h1 {
        font-size: 50px;
    }

    .btn-services {
        background-color: $blue;
        margin-right: 20px;

        &:hover {
            border: white solid 1px;
            background-color: transparent;
            color: white;
        }
    }

    .btn-learn {
        background-color: transparent;
        border: white solid 1px;

        &:hover {
            color: white;
            background-color: $blue;
            border: $blue solid 1px;
        }
    }

    owl.carousel:after {
        content: "";
        height: 90vh;
        width: 100%;
        position: absolute;
        top: 10;
        left: 10;
        background-color: rgba(grey, 0.5)
    }
}

@media (max-width: 768px) {
    .intro {
        h4,.btn-services,.btn-learn {
            display: none;
        }
        h1{
            font-size: 20px;
        }
    }
}