.services {
    .heading {
        font-weight: bold;
        padding-bottom: 15px;

        &::before {
            content: '';
            height: 2px;
            width: 100px;
            background-color: #444;
            position: absolute;
            bottom: 0;
            left: calc(45% - 5px);
        }
    }

    p {
        font-size: 14px;
    }

    .service {
        &:hover {
            .icon {
                transition: all .1s linear;
                -webkit-transition: all .1s linear;
                -moz-transition: all .1s linear;
                -ms-transition: all .1s linear;
                -o-transition: all .1s linear;
                color: $blue;

                h4 {
                    color: $blue;
                }
            }
        }
    }
}