html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Muli', sans-serif;

}

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #323648;
}

li {
    list-style-type: none;
}