.intro {
    $white: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;

    &,
    &>.container>.row {
        min-height: 600px;
        height: 100vh;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
        color: $white;
        font-weight: 900;

        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }
    }

    p {
        color: $white;
        font-size: font-size-base;
        line-height: 1.5;
        font-weight: 300;

    }
}