/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@font-face {
  font-family: "jaapokki-regular";
  src: url("../fonts/jaapokki/jaapokki-regylar.eot");
  src: url("../fonts/jaapokki/jaapokki-regular.woff") format("woff"), url("../fonts/jaapokki/jaapokki-regular.svg#filename") format("svg");
}

html,
body {
  margin: 0;
  font-size: 100%;
  background: #fff;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  font-size: 14px;
  line-height: 20px;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  color: #323648;
  font-family: 'jaapokki-regular', sans-serif;
}

li {
  list-style-type: none;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.btn-template {
  background-color: #E81050;
  border-color: #E81050;
  color: white;
  padding: 10px 30px;
  transition: all 2s;
  -webkit-transition: all 2s;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.btn-template:hover {
  background-color: grey;
  border-color: grey;
  color: black;
}

.btn-template:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
header {
  position: absolute;
  z-index: 9;
  width: 100%;
}

.toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
}

#logo a {
  float: left;
  display: initial;
  margin: 0;
  letter-spacing: 1px;
  color: #000;
  padding: 0;
  font-size: 0.9em;
  font-weight: 800;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

#logo a span {
  color: #ee3b24;
}

/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */
nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px 0.3em;
  display: inline-block;
}

/* Styling the links */
nav ul.menu li a {
  color: white;
  text-transform: capitalize;
  font-size: 0.95em;
  padding-left: 0;
  padding-right: 0;
  padding: 0.5em 0.3em;
  background: transparent;
  font-weight: 400;
}

nav ul li ul li:hover {
  background: #ee3b24;
}

/* Background color change on Hover */
nav ul.menu li a:hover {
  color: #ee3b24;
  background: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu li.active a {
  color: #ee3b24;
  background: #fff;
}

/* Hide Dropdowns by Default
* and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 30px;
  background: #fff;
  padding: 10px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 180px;
  float: none;
  display: list-item;
  position: relative;
  margin: 0;
}

nav ul.menu li ul li a {
  color: white;
  padding: 5px 10px;
  display: block;
}

/* Second, Third and more Tiers	
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after {
  content: '';
}

/* Media Queries
--------------------------------------------- */
@media all and (max-width: 991px) {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  nav {
    margin: 0;
  }
  nav a {
    color: white;
  }
  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }
  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    padding: 6px 15px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    float: right;
    margin-right: 0em;
    background-color: #fff;
    color: #1b1d1d;
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer !important;
  }
  .menu .toggle {
    float: none;
    text-align: center;
    margin: auto;
    width: 30%;
    padding: 5px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .toggle:hover {
    color: #333;
    background-color: #fff;
  }
  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
    background: #fff;
    padding: 15px 0;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    padding: 5px 0;
  }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }
  nav ul.menu li a {
    color: white;
  }
  nav a:hover,
  nav ul ul ul a {
    background-color: transparent;
  }
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #312f2f;
    font-size: 14px;
  }
  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #fff;
  }
  nav ul ul li a {
    font-size: 14px;
  }
  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }
  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }
  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
    padding: 0;
  }
  nav ul li {
    margin: 0;
  }
  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
  .login-icon {
    text-align: right;
  }
  .login-icon span {
    margin-right: 1em;
  }
}

@media all and (max-width: 568px) {
  [id^=drop]:checked + ul {
    display: block;
    background: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .menu .toggle {
    float: none;
    text-align: center;
    margin: auto;
    width: 70%;
  }
}

.login-icon p {
  color: #fff;
}

.login-icon span {
  color: #fcd000;
}

@media screen and (max-width: 375px) {
  #logo a {
    font-size: 0.7em;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100wh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-background img {
  max-width: 100%;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.8);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
  width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-template {
  font-family: 'Lato';
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: transparent;
  border-color: white;
}

#intro .btn-template:hover {
  background: #fff;
  border-color: #fff;
  color: #18d26e;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 0 auto;
  width: 70px;
  height: 70px;
  margin-right: 0.5px;
  margin-left: 0.5px;
  text-indent: -999px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.advantages p {
  color: #777;
}

.advantages h3 {
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 1px;
  color: #343a40;
  text-transform: capitalize;
}

.content-grid-info {
  padding: 1em 1em;
}

.content-grid-info h4 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.content-grid-info span {
  text-align: center;
  color: #fa8383;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  font-size: 2em;
  line-height: 3em;
}

.content-grid-info:hover span {
  color: #fa8383;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.testimony h3 {
  color: white;
  font-size: 1.2rem;
}

.testimony blockquote {
  font-size: 1.2rem;
  font-style: italic;
  color: white;
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image.overlay {
  position: relative;
}

.bg-image.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.bg-image > .container {
  position: relative;
  z-index: 1;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.pricing-area {
  background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
}

.pri_table_list {
  border: 1px solid #ccc;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background: #fff;
}

.pri_table_list h3 span {
  font-size: 16px;
}

.pri_table_list ol li {
  border-bottom: 1px dashed #ccc;
  color: #666;
  padding: 12px 15px;
  position: relative;
  text-align: center;
}

.pri_table_list button {
  background: #444 none repeat scroll 0 0;
  border: 1px solid #444;
  color: #fff;
  margin-bottom: 25px;
  padding: 10px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 30px;
}

.pri_table_list > h3 {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  padding: 30px 0 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.pri_table_list ol {
  list-style: outside none none;
  margin: 0;
  padding: 0 0 25px;
}

.pri_table_list.active {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  overflow: hidden;
}

.saleon {
  background: #3EC1D5 none repeat scroll 0 0;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  left: -26px;
  padding: 2px 25px;
  position: absolute;
  text-transform: uppercase;
  top: 16px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.pri_table_list > button:hover {
  background-color: #fff;
  border: 1px solid #333;
  color: #333;
}

.active > h3 {
  background: #f5f5f5 none repeat scroll 0 0;
  color: #333;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.active > button {
  background: #3EC1D5 none repeat scroll 0 0;
  border: 1px solid #3EC1D5;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active > button:hover {
  background: #333 none repeat scroll 0 0;
  border: 1px solid #333;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
#portfolio {
  padding: 60px 0;
}

#portfolio .img-fluid {
  width: 100%;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #18d26e;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-wrap {
  -webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}

#portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  position: relative;
  margin: 0;
}

#portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview,
#portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#portfolio .portfolio-item figure .link-preview i,
#portfolio .portfolio-item figure .link-details i {
  padding-top: 9px;
  font-size: 16px;
  color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover,
#portfolio .portfolio-item figure .link-details:hover {
  background: #18d26e;
}

#portfolio .portfolio-item figure .link-preview:hover i,
#portfolio .portfolio-item figure .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

#portfolio .portfolio-item .portfolio-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 90px;
  border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-info h4 a {
  color: #333;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
  color: #18d26e;
}

#portfolio .portfolio-item .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #b8b8b8;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.section-header h3,
.section-header p {
  color: #fff;
}

.card {
  background: #00458f;
  border-color: #00458f;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100%;
  border-radius: 0;
}

.card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

.card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

.card h5 {
  font-size: 22px;
  font-weight: 600;
}

.card p {
  font-size: 15px;
  color: #d8eafe;
}

.card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

.card .readmore:hover {
  border-bottom: #fff solid 2px;
}

@media (max-width: 991px) {
  .card {
    margin: 0;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.advantages-grids p {
  color: #777;
}

.advantages-grids span.fa, span.fab {
  font-size: 30px;
}

.advantages-grids h3 {
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 1px;
  color: #343a40;
  text-transform: capitalize;
}

.grid4 span.fa,
.grid5 span.fab,
.grid6 span.fas,
.grid7 span.far {
  padding-top: 15%;
  color: white;
  background: #EE3B24;
  font-size: 35px;
  height: 90px;
  width: 90px;
  border-top: 10px solid;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid transparent;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.ab-info {
  text-align: center;
}

.ab-info h4 {
  font-size: 1em;
  font-weight: 700;
  color: #fa8383;
  margin: 2em 0 1em 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ab-content-inner {
  padding: 2em 1em;
}

.ab-info h5 {
  font-size: 1.1em;
  letter-spacing: 0px;
  font-weight: 700;
  color: #555;
  line-height: 1.7em;
}

@media screen and (max-width: 375px) {
  .banner-info-w3layouts h3 {
    font-size: 1.3em;
  }
  .main-content,
  .layer {
    min-height: 28em;
  }
  .banner-info-w3layouts {
    padding-top: 7em;
    width: 100%;
  }
  .main-content,
  .layer {
    min-height: 25em;
  }
  #logo a {
    font-size: 0.7em;
  }
  .ab-content-inner {
    padding: 1em 0em;
  }
  .test-info-w3ls {
    padding: 1em 1em;
  }
}

@media screen and (max-width: 568px) {
  .ab-info h4 {
    font-size: 0.9em;
  }
  .ab-content {
    float: left;
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .ab-info h4 {
    font-size: 0.9em;
  }
  .ab-content {
    float: left;
    width: 100%;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
#testimonials {
  padding: 60px 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#testimonials:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item {
  text-align: center;
}

#testimonials .testimonial-item .testimonial-img {
  width: 75px;
  border-radius: 50%;
  border: 4px solid #aaa;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 28px;
  height: 8px;
  background-color: transparent;
  border: 1px solid white;
}

#testimonials .owl-dot.active {
  border-color: #ee3b24;
  background-color: #EE3B24;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.footer-section {
  padding: 7em 0;
  background-color: #fafafa;
  background: no-repeat scroll center center;
  background-size: cover;
  position: relative;
}

.footer-section:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.footer-section p {
  font-size: 1rem;
  color: white;
}

.footer-section a {
  color: white;
}

.footer-section h3 {
  font-size: .9rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
  font-weight: 900;
}

.footer-section .footer-links li {
  margin-bottom: 10px;
}

.footer-subscribe .btn {
  height: 43px;
  line-height: 1;
}

/*---------------------------------------------------- */
/*# sourceMappingURL=main.css.map */