body {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Rajdhani', sans-serif;
    }

    p,
    a {
        font-family: 'Roboto', sans-serif;
    }

    p {
        color: #777777;
    }

    .yellow {
        color: #F5CA56;
    }

    a {
        color: black;
        transition: color 0.2s ease;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        -ms-transition: color 0.2s ease;
        -o-transition: color 0.2s ease;

        &:hover {
            text-decoration: none;
            color: #F5CA56;
        }
    }
}