/* --- ↓ Foundation-starts ↓ --- */
html,
body {
    margin     : 0;
    font-size  : 100%;
    background : #fff;
    font-family: "", sans-serif;

    @include transition(.2s)
}

html {
    scroll-behavior: smooth;
}

/* --- ↑ Foundation---ends ↑ --- */


/* --- ↓ Typography-starts ↓ --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin     : 0;
    color      : #222222;
    font-family: "", sans-serif;

    @include transition(.2s);


    text-transform: '';

    &:hover {
        color: "";
    }
}

h1 {
    font-weight: "";
    @include transition(.2s);
    text-transform: '';
}

h2 {
    font-weight: "";
    @include transition(.2s);
    text-transform: '';
}

h3 {
    font-weight: "";
    @include transition(.2s);
    text-transform: '';
}

h4 {
    font-weight: "";
    @include transition(.2s);
    text-transform: '';
}

h5 {
    font-weight: "";
    @include transition(.2s);
    text-transform: '';
}

h6 {
    font-weight: "";
    @include transition(.2s);
    text-transform: '';
}

a {
    -webkit-transition: all 0.2s;
    transition        : all 0.2s;
    text-transform    : '';

    &:hover {
        text-decoration: none;
        color          : aqua;
    }
}

p {
    font-family: "";
    color      : blue;

    -webkit-transition: "";
    transition        : "";

    text-transform: '';

    &:hover {
        color: "";
    }
}

/* --- ↑ Typography---ends ↑ --- */


/* --- ↓ Icons-starts ↓ --- */
.fas,
.fab,
.far {
    color    : blue;
    font-size: $font-size-base;
    padding  : 20px auto;
    margin   : 20px auto;

    &:hover {
        color: white;
    }

}

/* --- ↑ Icons---ends ↑ --- */


/* --- ↓ Lists-starts ↓ --- */
li {
    list-style-type: none;
}

/* --- ↑ Lists---ends ↑ --- */