/* --- ↓ Button-Styles-starts ↓ --- */

.btn-template {
    $btn-color    : #ffffff;
    $border-radius: 30px;

    line-height     : 1px;
    letter-spacing  : 1px;
    text-transform  : uppercase;
    font-size       : $font-size-base;
    background-color: $btn-color;
    border-color    : $btn-color;

    color  : #000000;
    padding: 10px 30px;

    $transition       : all .9s;
    transition        : $transition;
    -webkit-transition: $transition;

    border-radius        : $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius   : $border-radius;
    -ms-border-radius    : $border-radius;
    -o-border-radius     : $border-radius;

    box-shadow: 15px 15px 25px 0px #000000;

    &:hover {
        $btn-color-hover: #000000;

        background-color: $btn-color-hover;
        border-color    : $btn-color-hover;

        box-shadow: 15px 15px 25px 0px #ffffff;

        color: #ffffff;
    }

    &:focus {
        box-shadow: none;
    }
}

/* --- ↑ Button-Styles---ends ↑ --- */