.social-links {
    ul {
        float: right;
        margin-top: 5px;

        li {
            display: inline;
            margin-left: 15px;

            // a {
            //     color: $body-text;

            //     @include transition(all .3s ease-in-out) &:hover {
            //         color: $primary-color;
            //     }
            // }
        }
    }
}