// --- ↓ Breakpoints-starts ↓ ---

@mixin media-breakpoint-up($breakpoint) {
    @if $breakpoint {
        @media (min-width: $breakpoint) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin media-breakpoint-down($breakpoint) {
    @if $breakpoint {
        @media (max-width: $breakpoint) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin media-breakpoint-only($breakpoint-from, $breakpoint-to) {
    @if $breakpoint-from !=null and $breakpoint-to !=null {
        @media (min-width: $breakpoint-from) and (max-width: $breakpoint-to) {
            @content;
        }
    }

    @else if $breakpoint-from==null {
        @include media-breakpoint-up($breakpoint-to) {
            @content;
        }
    }

    @else if $breakpoint-from==null {
        @include media-breakpoint-up($breakpoint-to) {
            @content;
        }
    }
}

// --- ↑ Breakpoints---ends ↑ ---


// --- ↓ Border-radius-starts ↓ ---

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius   : $radius;
    -ms-border-radius    : $radius;
    border-radius        : $radius;
}

// --- ↑ Border-radius---ends ↑ ---


// --- ↓ Transition-starts ↓ ---

@mixin transition($transition) {
    -moz-transition   : all $transition ease;
    -o-transition     : all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition    : all $transition ease;
    transition        : all $transition ease;
}

// --- ↑ Transition---ends ↑ ---

@mixin box-shadow ($horizontal, $vertical, $blur, $spread-radius, $color) {
    -webkit-box-shadow: $horizontal, $vertical, $blur, $spread-radius, $color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+*/
    -moz-box-shadow   : $horizontal, $vertical, $blur, $spread-radius, $color;  /* Firefox 3.5 - 3.6 */
    box-shadow        : $horizontal, $vertical, $blur, $spread-radius, $color;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+ iOS 5 */
}