$height:100vh;
$blue: #0d0cb5;

body {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    ::selection {
        background: $black;
    }
}

.hero-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
    &>.container>.row{
        min-height: 600px;
        height: $height;
    };
    &.overlay {
        position: relative;
        &:before {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($black, 0.4);
        }
    }

    .header {
        @include media-breakpoint-up(md) {
            font-size: 48px;
        }

        @include media-breakpoint-down(md) {
            font-size: 32px;
        }
    }

    .row {
        .btn {
            background-color: $blue;
            border: none;
            border-radius: 30px;
            font-size: 12px;
            padding: 15px 35px;
            letter-spacing: 1px;

            &:hover {
                background-color: darken($color: $blue, $amount: 10)
            }
        }
    }

    .typed-cursor {
        -webkit-animation: blink 20s infinite;
                animation: blink 20s infinite;
    }
}

@-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}