.contact {
    .form-group {
        .form-control {
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
            padding: 9px 10px;
        }

        textarea {
            height: 130px;
        }
    }
    .header::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: calc(50% - 25px);
        height: 5px;
        width: 60px;
        background-color: $primary-color-red;
    }
}
@media (min-width: 995px) {
    .your-class {
        border-left: 1px solid grey;
        border-right: 1px solid grey;
    }
}