.btn-primary{
    background-color: #E81050;
    padding: 10px 30px;
    border: none;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}