.custom-icon-wrap {
    .custom-icon-inner {
        display: inline-block;
        position: relative;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: grey;

        .icon {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: .8rem;
        }

    }

    h3 {
        font-size: 1.05rem;
        color: grey;
    }

    &.custom-icon-light {
        .custom-icon-inner {
            background: #615dc2;
            width: 45px;
            height: 45px;
        }

        h3 {
            color: black;
            font-size: 1rem;
        }
    }
}

.site-section {
    padding: 2.5em 0;

    @include media-breakpoint-up(md) {
        padding: 5em 0;
    }

    &.site-section-sm {
        padding: 4em 0;
    }
}

.section-title {
    font-size: 3rem;
    color: black;
    margin-bottom: 1.8rem;
    font-weight: 900;

    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
}