html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #283D50;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 16px;
    line-height: 24px;
    color: #444;
    font-weight: 400;
}

li {
    list-style-type: none;
}