.ft-feature-1 {
    margin-bottom: 80px;

    .ft-feature-1-content {
        padding: 30px;
        margin-top: -130px;
        position: relative;
        z-index: 10;
    }

    h2,
    h3 {
        font-size: 20px;
        color: $white;
    }

    h3 {
        font-size: 18px;

        .icon {
            font-size: 30px;
        }
    }

    a {
        color: $white;
        text-decoration: underline;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }

    .play {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #DDD;
        margin-right: 1.5rem;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        text-decoration: none !important;

        span {
            color: #fff;
            display: inline;
        }
    }

    .img-feature {
        position: relative;
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            margin-bottom: -80px;
        }
    }

    p {
        color: lighten($black, 45%);
    }
}

.box-with-humber {
    position: relative;

    .number-behind {
        font-size: 8rem;
        position: absolute;
        z-index: -1;
        top: -4rem;
        left: -3rem;
        font-weight: 900;
        color: lighten(gray, 3%);
    }
}

.media-1 {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#1C4373, .8);
        content: "";
        transition: .3s all ease;
        opacity: 0;
        visibility: hidden;
        border-radius: 50%;
    }

    img {
        object-fit: cover;
        transition: .3s all ease;
    }

    .media-1-content {
        z-index: 4;
        top: 50%;
        position: absolute;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);

        h2 {
            position: relative;
            color: $white;
            font-size: 1.5rem;
            transition: .4s all ease-in-out;
            opacity: 0;
            visibility: hidden;
            bottom: -10px;
            margin-bottom: 0px;
        }

        .category {
            position: relative;
            transition: .3s all ease-in-out;
            opacity: 0;
            bottom: -10px;
            visibility: hidden;
            color: darken($white, 40%);
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: .2em;
        }
    }

    &:hover {
        &:after {
            opacity: 1;
            visibility: visible;
        }

        h2 {
            bottom: 0px;
            opacity: 1;
            visibility: visible;
        }

        .category {
            opacity: 1;
            visibility: visible;
            bottom: 0px;
            transition-delay: 0.09s;
            // animation-direction: alternate;
        }
    }
}

.testimonial-wrap {
    .owl-nav {
        display: none;
    }
}