.block-13,
.slide-one-item {
    position: relative;
    z-index: 1;

    .owl-nav {
        position: relative;
        position: absolute;
        bottom: -90px;
        left: 50%;
        transform: translateX(-50%);

        .owl-prev,
        .owl-next {
            position: relative;
            display: inline-block;
            padding: 20px;
            font-size: 30px;
            color: $black;

            &.disabled {
                opacity: .2;
            }
        }
    }
}

.slide-one-item {
    &.home-slider {
        .owl-nav {
            // transition: .3s all ease-in-out;
            // opacity: 0;
            // visibility: hidden;
            position: absolute !important;
            top: 50% !important;
            bottom: auto !important;
            width: 100%;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        .owl-prev {
            left: 10px !important;
        }

        .owl-next {
            right: 10px !important;
        }

        .owl-prev,
        .owl-next {
            color: $white;
            position: absolute !important;
            top: 50%;
            padding: 0px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            transform: translateY(-50%);
            background: rgba($black, .2);
            transition: .3s all ease-in-out;

            line-height: 0;
            text-align: center;
            font-size: 25px;

            @include media-breakpoint-up(md) {
                font-size: 25px;
            }

            >span {
                position: absolute;
                line-height: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:hover,
            &:focus {
                background: rgba($black, 1);
            }
        }

        &:hover,
        &:focus,
        &:active {
            .owl-nav {
                opacity: 10;
                visibility: visible;
            }
        }
    }

    .owl-dots {
        text-align: center;

        .owl-dot {
            display: inline-block;
            margin: 4px;

            span {
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #DDD;
            }

            &.active {
                span {
                    background: #007BFF;
                }
            }
        }
    }
}

.testimonial {
    max-width: 800px;
    margin: 0 auto !important;
    text-align: center;

    blockquote {
        font-size: 1.5rem;
        font-style: italic;
    }

    figure {
        img {
            max-width: 100px;
            margin: 0 auto;
            border-radius: 50%;
        }
    }
}