small {
	font-size: 25px;
}

.fonts {
	font-size: 30px;
	text-align: center;
	padding: 2rem;
}

.fonts .pacifico{
	font-family: 'Pacifico', cursive;
}

.fonts .exo{
	font-family: 'Exo 2', sans-serif;
}

.fonts .lobster{
	font-family: 'Lobster', cursive;
}

.fonts .amatic{
	font-family: 'Amatic SC', cursive;
}
