*{
  color: #3FFFDA;
}
.header span{
  display: block;
  line-height:1.4;
}
.container{
  margin: 90px auto;
}
.form{
  border: 4px solid #3FFFDA;
  padding: 15px;
}
.btn{
  border: none;
  background-color: #3FFFDA;
}
.form-header, .btn{
  margin-bottom: 30px;
}
.images{
  font-weight: 900;
}
