@charset "UTF-8";
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
html,
body {
  margin: 0;
  font-size: 100%;
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* --- ↓ Headings ↓ --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #1e1e4b;
  font-family: 'Futura', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: '';
}

h6 {
  font-size: 16px;
}

/* --- ↑ Headings ↑ --- */
/* --- ↓ Anchor ↓ --- */
a {
  color: #5c5c77;
  font-size: 15px;
  line-height: 18px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

a:hover {
  text-decoration: none;
  color: #ffbc3b;
}

/* --- ↑ Anchor ↑ --- */
/* --- ↓ Paragraph ↓ --- */
p {
  font-family: 'Poppins', sans-serif;
  color: #5c5c77;
  font-size: 15px;
  line-height: 28px;
}

/* --- ↑ Paragraph ↑ --- */
/* --- ↓ Li ↓ --- */
li {
  list-style-type: none;
}

/* --- ↑ Li ↑ --- */
/* ↓--↓ Queries ↓--↓ */
/* ↑--↑ Queries ↑--↑ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.btn-template {
  background-color: #FFBC3B;
  border-color: #FFBC3B;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.btn-template:hover {
  background-color: white;
  border-color: white;
  color: #FFBC3B;
}

.btn-template:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: black !important;
    position: relative;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.ftco-navbar-light .container {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
}

.ftco-navbar-light .navbar-brand {
  color: black;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
  color: black !important;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-brand {
    color: white;
  }
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 20px;
    margin-right: 0;
  }
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-weight: 400;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

@media (max-width: 1199.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
    display: inline-block;
  }
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: grey;
  visibility: visible;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 0;
    color: white;
  }
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  color: white;
  border: 1px solid grey;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 18px;
  padding-right: 18px;
  background: grey;
  margin-top: 0;
  border-radius: 5px;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
  display: inline-block;
  color: white;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a:hover {
  background: grey;
  border: 1px solid grey;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored a {
  border: 1px solid #ddd;
  background: #ddd !important;
}

.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active {
  background: transparent;
  background: none;
  color: grey;
}

.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: grey;
  }
}

.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
  text-decoration: none;
  color: grey;
  outline: none !important;
}

.ftco-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: white !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0 15px;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light.scrolled .nav-item > .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 20px !important;
  }
}

.ftco-navbar-light.scrolled .nav-item.active > a {
  color: grey !important;
}

.ftco-navbar-light.scrolled .nav-item.cta > a {
  color: white !important;
  background: grey;
  border: none !important;
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-top: 5px !important;
  border-radius: 5px;
}

.ftco-navbar-light.scrolled .nav-item.cta > a span {
  display: inline-block;
  color: white !important;
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
  border-color: grey;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light.scrolled .navbar-nav {
    background: none;
    border-radius: 0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
  }
}

.ftco-navbar-light.scrolled .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.ftco-navbar-light.scrolled .nav-link {
  color: black !important;
}

.ftco-navbar-light.scrolled .nav-link.active {
  color: grey !important;
}

.ftco-navbar-light.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled .navbar-brand {
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 24px;
}

.ftco-navbar-light.scrolled .navbar-brand span {
  color: grey;
}

.navbar-brand {
  font-weight: 900;
  font-size: 24px;
}

.navbar-brand span {
  font-weight: 900;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: #000;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-item::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#intro .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-background img {
  max-width: 100%;
}

#intro .carousel-content {
  text-align: left;
}

#intro h1 {
  color: #fff;
  margin-bottom: 30px;
  font-weight: 700;
}

#intro p {
  width: 80%;
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
  width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-primary {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #18d26e;
  border-color: #18d26e;
}

#intro .btn-primary:hover {
  background: #fff;
  border-color: #fff;
  color: #18d26e;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 0 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image.overlay {
  position: relative;
}

.bg-image.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.bg-image > .container {
  position: relative;
  z-index: 1;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.stats {
  background: center no-repeat;
  -ms-background-size: cover;
  background-size: cover;
  padding: 5em 0;
}

.stats .counter {
  background: none;
  padding: 20px 0;
  text-align: left;
}

.stats .counter span {
  margin: 0;
}

.stats .fas {
  margin: 0 auto;
  float: none;
  display: table;
  color: #ffbc3b;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.ab-info {
  text-align: center;
}

.ab-info h4 {
  font-size: 1em;
  font-weight: 700;
  color: #fa8383;
  margin: 2em 0 1em 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.ab-info .ab-content-inner {
  padding: 2em 1em;
}

.ab-info h5 {
  font-size: 1.1em;
  letter-spacing: 0px;
  font-weight: 700;
  color: #555;
  line-height: 1.7em;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100%;
}

.card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
footer {
  background: #161616;
}

footer ul {
  padding: 0;
}

footer .copy-right {
  background: #161616;
  border-top: 1px dashed #636363;
}

footer .copy-right a {
  color: #777;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

footer .copy-right a:hover {
  color: #aaa;
  text-decoration: none;
}

footer .copy-right ul.list {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

footer .copy-right p {
  color: #777;
  font-size: 16px;
  letter-spacing: .5px;
}

footer .copy-right p a {
  color: #999;
}

footer .copy-right p a:hover {
  color: #eee;
}

@media (max-width: 991px) {
  footer .copy-right {
    text-align: center;
  }
  footer .copy-right ul.list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1em;
  }
}

@media (max-width: 568px) {
  footer .copy-right ul.list li {
    display: inline-block;
  }
}

/*---------------------------------------------------- */
/*# sourceMappingURL=main.css.map */