.btn-template {

    $btn-color: #FFBC3B;
    background-color: $btn-color;
    border-color: $btn-color;

    color: white;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 24px;

    $transition: all .9s;
    transition: $transition;
    -webkit-transition: $transition;

    $border-radius: 0px;
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;

    // box-shadow: 15px 15px 25px 0px #e81050;

    &:hover {
        $btn-color-hover: white;
        background-color: $btn-color-hover;
        border-color: $btn-color-hover;

        // box-shadow: 15px 15px 25px 0px grey;

        color: $btn-color;
    }

    &:focus {
        box-shadow: none;
    }
}