html{
    height: 100vh;
    max-width: 100vw;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 100vw;
}
header{
    flex: none;
    max-width: 100vw;
    height: 2.9rem;
    background-color: #000000;
}
a {
    text-decoration: none;
}

.arrow-down{
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
}

nav {
    font-family: monospace;
}

header ul {
    background: red;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

header li {
    color: #fff;
    background-color: #000000;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

header li a {
    color: #fff;
}

header li:hover {
    background: #a52a2a;
    cursor: pointer;
}

header ul li ul {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

header ul li:hover>ul,
header ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

header ul li ul li {
    clear: both;
    width: 100%;
}


.content{
    flex: 1 0 auto;
}




footer{
    flex: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    height: 5rem;
    max-width: 100vw;
    background-color: #000000;
}

/* footer p p{
    padding: 3px;
    color: #ffffff;
} */
footer p{
    color: #ffffff;
}