.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* max-width: 100%; */
}

.content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: #dc143c;
}

.line-break {
    height: 0;
    width: 100%;
}


.hot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.hot-label {
    color: #ff0000;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px;
}

.hot-news {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 15%;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    background-color: #4169e1;
    font-size: 0.9rem;
    /* height: 20vh; */
}

.hot-news a:visited {
    color: black;
}

.line-break {
    flex-basis: 100%;
    height: 0;
}

.add-space {
    max-width: 10%;
    height: 0;
}

.content img {
    width: 100%;
    height: 12.5rem;
}