header {
    background-color: #6a67ce;
    .navbar-brand {
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 1px;
    }

    .nav-link {
        color: white;
    }

    .nav-btn {
        color: #6a67ce;
        background-color: #fff;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
}
}