header {
    p{
        color: #DDD;
    }
    background-color: #6a67ce;
    .navbar-brand {
        font-size: 32px;
        font-weight: 900;
        letter-spacing: 1px;
    }

    .nav-link {
        color: white;
    }
    .intro{
        .btn-template{
            color: white;
            background-color: transparent;
            border: 2px solid white;
            padding: 10px 25px;
        }
    }
}