/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Raleway', sans-serif;
  color: #444444;
}

body a, body p, body li {
  font-family: 'Open Sans', sans-serif;
}

body ::-moz-selection {
  background: #3ec1d5;
}

body ::selection {
  background: #3ec1d5;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.btn-template {
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
header {
  width: 100%;
  position: absolute;
}

header * {
  z-index: 9999;
}

header nav {
  background-color: rgba(0, 0, 0, 0.5);
}

header nav .navbar-brand {
  font-weight: bold;
  font-size: 36px;
}

header nav .green {
  color: #3ec1d5;
}

header nav .nav-item {
  margin-right: 5px;
}

header .nav-link {
  color: white;
  letter-spacing: 1px;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
}

header .nav-link:hover {
  text-decoration: none;
  color: #3dBDD1;
}

header .active {
  text-decoration: underline;
}

header .dropdown-menu {
  background-color: black;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

header .dropdown-menu .dropdown-item {
  padding: 10px 0px 10px 10px;
  color: white;
}

header .dropdown-menu .dropdown-item:nth-child(1) {
  margin-bottom: 10px;
}

header .dropdown-menu .dropdown-item:hover {
  background-color: black;
}

.nav-scrolled {
  background-color: black;
  position: fixed;
  width: 100%;
}

.nav-scrolled .fa-bars {
  color: white;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.about {
  padding-bottom: 60px;
  background-color: #f9f9f9;
}

.about .header {
  font-weight: 700;
  padding-bottom: 15px;
  line-height: 40px;
}

.about .header::before {
  content: '';
  height: 2px;
  width: 125px;
  background-color: #444;
  position: absolute;
  bottom: 0;
  left: calc(45% - 15px);
}

.about .project h3 {
  line-height: 26px;
  font-size: 17px;
  font-weight: bold;
}

.about .project p {
  line-height: 22px;
  font-size: 14px;
}

.about .project li {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 5px;
  list-style: none;
}

.about .project li::before {
  margin-right: 15px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  color: #3ec1d5;
  font-size: 10px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.intro * {
  z-index: 999;
}

.intro .first-item,
.intro .second-item,
.intro .third-item {
  height: 90vh;
}

.intro .first-item {
  background: url("../img/slider/slider1.jpg") no-repeat scroll center center;
  background-size: cover;
}

.intro .second-item {
  background: url("../img/slider/slider2.jpg") no-repeat scroll center center;
  background-size: cover;
}

.intro .third-item {
  background: url("../img/slider/slider3.jpg") no-repeat scroll center center;
  background-size: cover;
}

.intro .owl-dots {
  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
  margin-left: calc(50% - 40px);
}

.intro h4,
.intro h1 {
  color: white;
  font-weight: bold;
}

.intro h4 {
  font-size: 24px;
}

.intro h1 {
  font-size: 50px;
}

.intro .btn-services {
  background-color: #3ec1d5;
  margin-right: 20px;
}

.intro .btn-services:hover {
  border: white solid 1px;
  background-color: transparent;
  color: white;
}

.intro .btn-learn {
  background-color: transparent;
  border: white solid 1px;
}

.intro .btn-learn:hover {
  color: white;
  background-color: #3ec1d5;
  border: #3ec1d5 solid 1px;
}

.intro owl.carousel:after {
  content: "";
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 10;
  left: 10;
  background-color: rgba(128, 128, 128, 0.5);
}

@media (max-width: 768px) {
  .intro h4, .intro .btn-services, .intro .btn-learn {
    display: none;
  }
  .intro h1 {
    font-size: 20px;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.services .heading {
  font-weight: bold;
  padding-bottom: 15px;
}

.services .heading::before {
  content: '';
  height: 2px;
  width: 100px;
  background-color: #444;
  position: absolute;
  bottom: 0;
  left: calc(45% - 5px);
}

.services p {
  font-size: 14px;
}

.services .service:hover .icon {
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  color: #3ec1d5;
}

.services .service:hover .icon h4 {
  color: #3ec1d5;
}

/*---------------------------------------------------- */
/*# sourceMappingURL=main.css.map */