html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 40px;
    line-height: 60px;
}

h2{
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

a,
p,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

a {
    transition: all .2s;

    &:hover {
        text-decoration: none;
        // color: aqua
    }
}

p {
    color: #999;
    font-size: 16px;
    line-height: 28px;
}

li {
    list-style-type: none;
}



/* ↓--↓ Queries ↓--↓ */

// Extra small devices (portrait phones, less than 767px)

@media (min-width:0px) and (max-width: 767.98px) {
    $mediaHeading: 9px;

    h1 {
        font-size: $mediaHeading + 10px;
    }

    h2 {
        font-size: $mediaHeading + 8px;
    }

    h3 {
        font-size: $mediaHeading + 6px;
    }

    h4 {
        font-size: $mediaHeading + 4px;
    }

    h5 {
        font-size: $mediaHeading + 2px;
    }

    h6 {
        font-size: $mediaHeading;
    }

}

// Small devices (landscape phones, less than 991.98px)
@media (min-width: 767.98px) and (max-width: 991.98px) {
    $mediaHeading: 24px;

    h1 {
        font-size: $mediaHeading + 10px;
    }

    h2 {
        font-size: $mediaHeading + 8px;
    }

    h3 {
        font-size: $mediaHeading + 6px;
    }

    h4 {
        font-size: $mediaHeading + 4px;
    }

    h5 {
        font-size: $mediaHeading + 2px;
    }

    h6 {
        font-size: $mediaHeading;
    }
}

// Medium devices (tablets, less than 1200px)
@media (min-width: 991.98px) and (max-width: 1199.98px) {
    $mediaHeading: 39px;

    h1 {
        font-size: $mediaHeading + 10px;
    }

    h2 {
        font-size: $mediaHeading + 8px;
    }

    h3 {
        font-size: $mediaHeading + 6px;
    }

    h4 {
        font-size: $mediaHeading + 4px;
    }

    h5 {
        font-size: $mediaHeading + 2px;
    }

    h6 {
        font-size: $mediaHeading;
    }
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
    $mediaHeading: 54px;

    h1 {
        font-size: $mediaHeading + 10px;
    }

    h2 {
        font-size: $mediaHeading + 8px;
    }

    h3 {
        font-size: $mediaHeading + 6px;
    }

    h4 {
        font-size: $mediaHeading + 4px;
    }

    h5 {
        font-size: $mediaHeading + 2px;
    }

    h6 {
        font-size: $mediaHeading;
    }
}

/* ↑--↑ Queries ↑--↑ */