.btn-template {
    $btn-color: #E2C0BB;
    $border-radius: 3px;

    background-color: $btn-color;
    border-color: $btn-color;

    color: white;
    padding: 15px 40px;

    $transition: all .9s;
    transition: $transition;
    -webkit-transition: $transition;

    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;

    // box-shadow: 0px 3px 7px 0px black;

    &:hover {
        // $btn-color-hover: grey;

        // background-color: $btn-color-hover;
        // border-color: $btn-color-hover;

        // box-shadow: 15px 15px 25px 0px grey;

        color: white;
    }

    &:focus {
        box-shadow: none;
    }
}