.gal-img {
padding: 10px;
}

.gal-img img {
border-radius: 0;
-moz-transition: 0.5s all;
transition: 0.5s all;
}

.gal-img:hover.gal-img img {
box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
}

.gal-img a span {
font-size: 0.9em;
letter-spacing: 2px;
text-transform: uppercase;
font-weight: 400;
color: #1e272e;
text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
background: #ffffff;
display: block;
padding: 1em;
margin-bottom: 15px;
}


.pop-overlay {
position: absolute;
top: 0px;
bottom: 0;
left: 0;
right: 0;
transition: opacity 900ms;
visibility: hidden;
opacity: 0;
z-index: 999;
&:before{
content: '';
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
background: rgba(0, 0, 0, 0.5);
}
}

.pop-overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
background: #fff;
border-radius: 5px;
width: 30%;
position: relative;
margin: 8em auto;
padding: 3em 1em;
}

.popup p {
font-size: 15px;
color: #666;
letter-spacing: .5px;
line-height: 30px;
}

.popup h2 {
margin-top: 0;
color: #fff;

}

.popup .close {
position: absolute;
top: 5px;
right: 15px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #000;
}

.popup .close:hover {
color: #30c39e;
}

@media screen and (max-width: 767px) {
.gal-img {
padding: 10px;
float: left;
width: 50%;
}
}

@media screen and (max-width: 992px) {

.popup {
width: 50%;
}

.price-main,
.ab-content {
float: left;
width: 50%;
}

.banner-info-w3layouts {
padding-top: 14em;
width: 90%;
}

.main-content,
.layer {
min-height: 40em;
}

.ab-info-con p {
text-align: center;
}

.price-main {
margin-top: 2em;
}

.test-info-w3ls {
padding: 2em 2em;
}

.adress-info:nth-child(2) {
margin: 2em 0;
}

.adress-info {
margin-top: 2em;
}

.mid-left-content {
margin-top: 1.5em;
}
}

@media screen and (max-width: 736px) {
.mid-right-info {
margin-top: 2em;
}

.popup {
width: 85%;
}

.price-button a {
padding: 0.8em 1.5em;
}

.contact-page button.btn.btn-default {
width: 30%;
}
}