.section-header h3,
.section-header p {
    color: #fff;
}

.card {
    // background: #00458f;
    border-color: white;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
}

.card i {
    padding-top: 40px;
    height: 110px;
    color: white;
    background: url(../img/blob-shape-2.svg) no-repeat scroll center center;
    background-size: 65%;
}

.card h5 {
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .card {
        margin: 0;
    }
}