.banner {
    .banner-info-grid {
        padding: 40px 50px;
        border: 1px solid rgba(black, .2);
    }
}
.banner-2{
    background: no-repeat scroll center center;
    background-size: cover;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(black, .5);
    }
    .btn{
        background-color: transparent;
        border: 2px solid white;
        &:hover{
            color: white;
            opacity: .8;
        }
    }
}