.editable {
    border: 2px black solid;
    height: auto;
    background-color: #fff;

    // .headings {
    //     height: 2px;
    // }
}

#text-editor {

    .editable,
    .btn-template {
        @include media-breakpoint-down($md) {
            font-size: 7px;
        }
        // End it => @media (max-width:)

    }
}