.editable {
    border: 2px black solid;
    height: auto;
    background-color: #fff;

    // @include media-breakpoint-down($md) {
    //     width: 100px;
    // }

    .headings {
        height: 20px;
    }
}