$white: #fff;
$black: #000;
$gradient:linear-gradient(to right, #244cfd, #15e4fd);
$blue: #244cfd;

.btn {
    background-image: $gradient;
    border: none;
    border-radius: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

p,
a,
.btn {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-size: 12px;
}

ul li {
    display: inline-block;
}

ul li span,
h6 {
    display: inline-block;
}

header {
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;

    .nav {
        background-color: rgba($white, 0.5);
    }

    .navbar-scrolled {
        background-color: $white;
        color: $black;
        // .navbar-collapse {
        //     background-color:rgba($black, 0.5);
        //     .nav-link {
        //         color: $white;
        //     }
        // }
    }

    .nav-link {
        color: $black;
    }

    .fa-bars {
        color: $blue;
    }
}

@media (max-width:990px) {
    .contacts {
        display: none;
    }

}

@media (min-width:990px) {
    .navbar {
        margin-top: 50px;
    }
    .navbar-scrolled{
        margin-top: 0px;
    }
}

.intro {
    h6 {
        font-weight: regular;
    }
}