footer{
background: #161616;
ul{
padding: 0;
}
}

footer h4 {
font-size: 23px;
font-weight: 400;
color: #fff;
}

ul.list li a,
ul.list li{
color: #777;
font-size: 16px;
letter-spacing: .5px;
}

ul.list li a:hover {
color: #aaa;
}

ul.list li {
list-style-type: none;
}

ul.list i {
width: 25px;
color: #888;
}