.banner {
    background-color: #222222;

    h6,
    p {
        color: #aaa;
    }
}

.banner-features {
    span {
        position: relative;
        display: inline-block;
        background-color: #fff;
        height: 8px;
        width: 100%;
        border-radius: 30px;
        &:after{
            content: '';
            position: absolute;
            height: 8px;
            width: 90%;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;

            background-color: #007BFF;
        }
    }
}