.banner {
    background-color: #222222;

    h6,
    p {
        color: #aaa;
    }
}

.banner-features {
    .line {
        position: relative;
        display: inline-block;
        background-color: #fff;
        height: 8px;
        width: 100%;
        border-radius: 30px;
        &:after{
            content: '';
            position: absolute;
            height: 8px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
    }
    .line-marketing:after{
        width: 40%;
        background-color: #007BFF;
    }
    .line-consulting:after {
        width: 55%;
        background-color: #DC3545;
    }
    .line-projects:after {
        width: 50%;
        background-color: #17A2B8;
    }
    .line-enhancement:after {
        width: 70%;
        background-color: #FFC107;
    }
    .line-support:after {
        width: 90%;
        background-color: #28A745;
    }
}