.btn-primary {
    $btn-color: transparent;
    $border-radius: 4px;

    background-color: $btn-color;
    color: white;

    padding: 10px 30px;

    border-color: white;
    border-width: 2px;
    border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -ms-border-radius: $border-radius;
    -o-border-radius: $border-radius;

    &:hover {
        background-color: transparent;
        border-color: white;
        color: white;
    }
}