.footer{
    background-color: #161616;
    h5{
        color: white;
    }
    ul li{
        margin-top: -5px;
    }
    a:hover{
        transition: all 1s;
        color: #AAA;
    }
}
.footer-info-list,.footer-address{
    padding-top: 5px;
}
