.intro {
    $white: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;

    &.wrapper {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background: rgba($black, .5);
        }
    }

    &,
    &>.container>.row {
        min-height: 495px;
        height: 50vw;
    }

    h1 {
        font-weight: 900;
        color: $white;
        text-shadow: black 0.5px 0.5px;

        @include media-breakpoint-down(sm) {
            font-size: 2.5rem;
        }

        @include media-breakpoint-up(sm) {
            font-size: 2.8rem;
        }
    }

    h3 {
        @include media-breakpoint-down(sm) {
            font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 2.3rem;
        }
    }


    p {
        color: #ccc;
        font-size: $font-size-base;
        line-height: 32px;
        font-weight: 300;

    }

    .blue {
        color: #00AEFF;
    }

    .btn-get {
        background-color: #00AEFF;
        border-color: #00AEFF;
    }
}