.services {
    .f1 {
        background-color: #F6F6F6;
        box-shadow: 5px 10px 10px rgba(black, 0.1);
        h5 {
            font-size: 18px;
            line-height: 35px;
            color: #343a40;
        }
    }
}