.stats{
    background: no-repeat scroll center center;
    background-size: cover;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        left:0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(black,0.5);
    }
    *{
        z-index: 999;
    }
    h1{
        color: white;
    }
    p{
        color: #ddd;
    }
    .block{
        box-sizing: border-box;
        border: 5px solid #aaa;
        padding: 10px 35px;
        p{
            font-size: 20px;
            line-height: 35px;
        }
    }
}