.stats{
    background: no-repeat scroll center center;
    background-size: cover;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        left:0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(black,0.6);
    }
    *{
        z-index: 999;
    }
    h1{
        color: white;
    }
    p{
        color: #ddd;
    }
}