@charset "UTF-8";
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
html,
body {
  margin: 0;
  font-size: 100%;
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

h2 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

a,
p,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  -webkit-transition: all .2s;
  transition: all .2s;
}

a:hover {
  text-decoration: none;
}

p {
  color: #999;
  font-size: 16px;
  line-height: 28px;
}

li {
  list-style-type: none;
}

/* ↓--↓ Queries ↓--↓ */
@media (min-width: 0px) and (max-width: 767.98px) {
  h1 {
    font-size: 19px;
  }
  h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 13px;
  }
  h5 {
    font-size: 11px;
  }
  h6 {
    font-size: 9px;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 26px;
  }
  h6 {
    font-size: 24px;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  h1 {
    font-size: 49px;
  }
  h2 {
    font-size: 47px;
  }
  h3 {
    font-size: 45px;
  }
  h4 {
    font-size: 43px;
  }
  h5 {
    font-size: 41px;
  }
  h6 {
    font-size: 39px;
  }
}

@media (min-width: 1199.98px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 62px;
  }
  h3 {
    font-size: 60px;
  }
  h4 {
    font-size: 58px;
  }
  h5 {
    font-size: 56px;
  }
  h6 {
    font-size: 54px;
  }
}

/* ↑--↑ Queries ↑--↑ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.btn-template {
  background-color: #E2C0BB;
  border-color: #E2C0BB;
  color: white;
  padding: 15px 40px;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn-template:hover {
  color: white;
}

.btn-template:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
header {
  position: absolute;
  z-index: 9;
  width: 100%;
}

.header-scrolled {
  position: fixed;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav {
  margin: 0;
  padding: 0;
}

#logo a {
  float: left;
  display: initial;
  margin: 0;
  letter-spacing: 0px;
  line-height: 43px;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  text-transform: capitalize;
  color: #000;
}

#logo a span {
  color: #e2c0bb;
}

/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */
nav:after {
  content: "";
  display: table;
  clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
  margin: 0px 0.3em;
  display: inline-block;
}

/* Styling the links */
nav ul.menu li a {
  color: #000;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  padding-left: 0;
  padding-right: 0;
  padding: 0px 12px;
  background: transparent;
  font-weight: 400;
}

nav ul li ul li:hover {
  background: #e2c0bb;
}

/* Background color change on Hover */
nav ul.menu li a:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: relative;
}

.menu li.active a {
  color: #e2c0bb;
}

/* Hide Dropdowns by Default
* and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  top: 30px;
  background: #fff;
  padding: 10px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 180px;
  float: none;
  display: list-item;
  position: relative;
  margin: 0;
}

nav ul.menu li ul li a {
  color: #333;
  padding: 5px 10px;
  display: block;
}

/* Second, Third and more Tiers	
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  /* has to be the same number as the "width" of "nav ul ul li" */
  left: 170px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after {
  content: '';
}

/* Media Queries
--------------------------------------------- */
@media all and (max-width: 991px) {
  header {
    background: #000;
  }
  header #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  header #logo a {
    color: #fff;
  }
  .header-scrolled #logo a {
    color: #000;
  }
  nav {
    margin: 0;
  }
  nav a {
    color: #333;
  }
  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }
  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    padding: 6px 15px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border: none;
    float: right;
    margin-right: 0em;
    color: #666666;
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer !important;
  }
  .menu .toggle {
    float: none;
    text-align: center;
    margin: auto;
    width: 30%;
    padding: 5px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 1px;
  }
  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
    width: 100%;
  }
  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    padding: 5px 0;
  }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }
  nav ul.menu li a {
    color: #fff;
  }
  nav a:hover,
  nav ul ul ul a {
    background-color: transparent;
  }
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #312f2f;
    font-size: 15px;
  }
  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #fff;
  }
  nav ul ul li a {
    font-size: 15px;
  }
  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position: static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }
  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }
  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
    padding: 0;
  }
  nav ul li {
    margin: 0;
  }
  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
  .login-icon {
    text-align: right;
  }
  .login-icon span {
    margin-right: 1em;
  }
}

@media all and (max-width: 568px) {
  [id^=drop]:checked + ul {
    display: block;
    background: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .menu .toggle {
    float: none;
    text-align: center;
    margin: auto;
    width: 70%;
  }
}

.login-icon p {
  color: #fff;
}

.login-icon span {
  color: #fcd000;
}

@media screen and (max-width: 375px) {
  #logo a {
    font-size: 0.7em;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
#intro {
  display: table;
  width: 100%;
  height: 100vh;
  background: no-repeat scroll;
  background-position: right 5% bottom 80%;
  background-size: 100%;
}

#intro .carousel-item {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#intro .carousel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .carousel-background img {
  max-width: 100%;
}

#intro .carousel-content {
  text-align: center;
}

#intro h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#intro p {
  width: 80%;
  margin: 0 auto 30px auto;
  color: #fff;
}

#intro .carousel-fade {
  overflow: hidden;
}

#intro .carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

#intro .carousel-fade .carousel-inner .carousel-item,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#intro .carousel-fade .carousel-inner .active,
#intro .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#intro .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#intro .carousel-fade .carousel-inner .carousel-item-next,
#intro .carousel-fade .carousel-inner .carousel-item-prev,
#intro .carousel-fade .carousel-inner .active.carousel-item-left,
#intro .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#intro .carousel-control-prev,
#intro .carousel-control-next {
  width: 10%;
}

#intro .carousel-control-next-icon,
#intro .carousel-control-prev-icon {
  background: none;
  font-size: 32px;
  line-height: 1;
}

#intro .carousel-indicators li {
  cursor: pointer;
}

#intro .btn-primary {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #18d26e;
  border-color: #18d26e;
}

#intro .btn-primary:hover {
  background: #fff;
  border-color: #fff;
  color: #18d26e;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 0 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.testimony h3 {
  color: white;
  font-size: 1.2rem;
}

.testimony blockquote {
  font-size: 1.2rem;
  font-style: italic;
  color: white;
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image.overlay {
  position: relative;
}

.bg-image.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.bg-image > .container {
  position: relative;
  z-index: 1;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.gal-img {
  padding: 10px;
}

.gal-img img {
  border-radius: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.gal-img:hover.gal-img img {
  -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}

.gal-img a span {
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #1e272e;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
  background: #ffffff;
  display: block;
  padding: 1em;
  margin-bottom: 15px;
}

.pop-overlay {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 900ms;
  transition: opacity 900ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.pop-overlay:before {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.pop-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  margin: 8em auto;
  padding: 3em 1em;
}

.popup p {
  font-size: 15px;
  color: #666;
  letter-spacing: .5px;
  line-height: 30px;
}

.popup h2 {
  margin-top: 0;
  color: #fff;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.popup .close:hover {
  color: #30c39e;
}

@media screen and (max-width: 767px) {
  .gal-img {
    padding: 10px;
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .popup {
    width: 50%;
  }
  .price-main,
  .ab-content {
    float: left;
    width: 50%;
  }
  .banner-info-w3layouts {
    padding-top: 14em;
    width: 90%;
  }
  .main-content,
  .layer {
    min-height: 40em;
  }
  .ab-info-con p {
    text-align: center;
  }
  .price-main {
    margin-top: 2em;
  }
  .test-info-w3ls {
    padding: 2em 2em;
  }
  .adress-info:nth-child(2) {
    margin: 2em 0;
  }
  .adress-info {
    margin-top: 2em;
  }
  .mid-left-content {
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 736px) {
  .mid-right-info {
    margin-top: 2em;
  }
  .popup {
    width: 85%;
  }
  .price-button a {
    padding: 0.8em 1.5em;
  }
  .contact-page button.btn.btn-default {
    width: 30%;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.section-header h3,
.section-header p {
  color: #fff;
}

.card {
  border-color: white;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100%;
}

.card i {
  padding-top: 40px;
  height: 110px;
  color: white;
  background: url(../img/blob-shape-2.svg) no-repeat scroll center center;
  background-size: 65%;
}

.card h5 {
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .card {
    margin: 0;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
#testimonials {
  padding: 60px 0;
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item {
  text-align: center;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #aaa;
  margin: 0 auto;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
}

#testimonials .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #18d26e;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.form .section-title {
  font-size: 3rem;
  color: black;
  margin-bottom: 1.8rem;
  font-weight: 900;
}

@media (max-width: 991.98px) {
  .form .section-title {
    font-size: 1.5rem;
  }
}

.form input, .form select {
  border-radius: 0px;
  border-color: #e2c0bb;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form input:focus, .form select:focus {
  border-color: #e2c0bb;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form .btn-template, .form input, .form select {
  height: 50px !important;
  width: 150px;
}

.form .btn-template {
  padding-top: 12px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
footer {
  background: #161616;
}

footer ul {
  padding: 0;
}

footer .col-lg-3:nth-child(-n+3) ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f30b";
  color: #999;
}

footer h4 {
  font-size: 23px;
  font-weight: 400;
  color: #fff;
}

footer ul.list li a,
footer ul.list li {
  color: #777;
  font-size: 16px;
  letter-spacing: .5px;
}

footer ul.list li a:hover {
  color: #aaa;
}

footer ul.list li {
  list-style-type: none;
}

footer ul.list i {
  width: 25px;
  color: #888;
}

footer .copy-right a {
  color: #777;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

footer .copy-right a:hover {
  color: #aaa;
  text-decoration: none;
}

footer .copy-right ul.list {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

footer .copy-right p {
  color: #777;
  font-size: 16px;
  letter-spacing: .5px;
}

footer .copy-right p a {
  color: #999;
}

footer .copy-right p a:hover {
  color: #eee;
}

@media (max-width: 991px) {
  footer .copy-right {
    text-align: center;
  }
  footer .copy-right ul.list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1em;
  }
}

@media (max-width: 568px) {
  footer .copy-right ul.list li {
    display: inline-block;
  }
}

/*---------------------------------------------------- */
/*# sourceMappingURL=main.css.map */