
// @font-face
//     font-family: "themefisher-font"
//     src: url("fonts/Samplino.eot?") format("eot")
//     src: url("../font/themefisher-font.woff2") format("woff2")
//     src: url("../font/themefisher-font.woff") format("woff")
//     src: url("fonts/Samplino.ttf") format("truetype")
//     src: url("../fonts/themefisher-font.otf") format("opentype")
//     src: url("../fonts/themefisher-font.svg#themefisher-font") format("svg")
body
    font-family: 'Open Sans', sans-serif
header
    background: url('../img/header-bg.jpg') center center no-repeat fixed
    background-size: cover
    height: 100vh
    font-weight: 700
    .navbar-toggler
        border-radius: 0px
        background-color: white
    .navbar-nav
        color: white
h1
    font-weight: 900
    font-size: 4.9em
    line-height: 1.01em
    letter-spacing: 0.01em
.btn
    border-radius: 0px
    background-color: aquamarine