

@font-face
    font-family: 'font-name'
    src: url('webfont.eot') /* IE9 Compat Modes */
    src: url('webfont.eot?#iprefix') format('embedded-opentype') /* IE6-IE8 */
    src: url('webfont.woff2') format('woff2') /* Super Modern Browsers */
    src: url('webfont.woff') format('woff') /* Pretty Modern Browsers */
    src: url('webfont.ttf')  format('truetype') /* Safari, Android, iOS */
    src: url('webfont.svg#font-name') format('svg') /* Legacy iOS */
body
    font-family: 'Open Sans', sans-serif
header
    background: url('../img/header-bg.jpg') center center no-repeat fixed
    background-size: cover
    height: 100vh
    .navbar-toggler
        border-radius: 0px
        background-color: white
    .navbar-nav
        color: white
    .header-heading
        line-height: 55px
    .lorem
        line-height: 28px

.btn
    border-radius: 0px
    background-color: #3FBBC0
.counter
    background: rgba(124, 123, 127, 0.4)
    .days,.hours,.minutes,.seconds
        background: rgba(124, 123, 127, 0.6)
        h2
            letter-spacing: 2px