@charset "UTF-8";
/* --- ↓ Utilities-starts ↓ --- */
/*--- ↓ Colors-starts ↓ ---*/
/*--- ↑ Colors---ends ↑ ---*/
/*--- ↓ Breakpoints-starts ↓ ---*/
/*--- ↑ Breakpoints---ends ↑ ---*/
/*                                  --- ↓ Typography-starts ↓ ---                               */
/*                                  --- ↑ Typography---ends ↑ ---                               */
/* --- ↓ Breakpoints-starts ↓ --- */
/* --- ↑ Breakpoints---ends ↑ --- */
.btn-template {
  line-height: 1px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  padding: 10px 30px;
  transition: all 0.9s;
  -webkit-transition: all 0.9s;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-box-shadow: 15px 15px 25px 0px #000000;
          box-shadow: 15px 15px 25px 0px #000000;
}

.btn-template:hover {
  background-color: #000000;
  border-color: #000000;
  -webkit-box-shadow: 15px 15px 25px 0px #ffffff;
          box-shadow: 15px 15px 25px 0px #ffffff;
  color: #ffffff;
}

.btn-template:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

html,
body {
  margin: 0;
  font-size: 100%;
  background: #fff;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #222222;
  -webkit-transition: .2s all;
  transition: .2s all;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  color: #17B978;
}

.fas,
.fab,
.far {
  color: #777;
  font-size: 1rem;
  padding: 20px auto;
  margin: 20px auto;
}

.fas:hover,
.fab:hover,
.far:hover {
  color: white;
}

a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #777777;
}

a:hover {
  text-decoration: none;
  color: #17B978;
}

p {
  color: #888888;
}

li {
  list-style-type: none;
}

/* --- ↑ Utilities---ends ↑ --- */
/* --- ↓ Stylesheet-starts ↓ --- */
.ftco-navbar-light {
  background: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

@media (max-width: md) {
  .ftco-navbar-light {
    background: black !important;
    position: relative;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.ftco-navbar-light .container {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
}

.ftco-navbar-light .navbar-brand {
  color: black;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
  color: black !important;
}

@media (max-width: md) {
  .ftco-navbar-light .navbar-brand {
    color: white;
  }
}

@media (max-width: md) {
  .ftco-navbar-light .navbar-nav {
    padding-bottom: 20px;
    margin-right: 0;
  }
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  font-weight: 400;
  opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

@media (max-width: lg) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link span {
    display: inline-block;
  }
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: grey;
  visibility: visible;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: md) {
  .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 0;
    color: white;
  }
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
  color: white;
  border: 1px solid grey;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 18px;
  padding-right: 18px;
  background: grey;
  margin-top: 0;
  border-radius: 5px;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
  display: inline-block;
  color: white;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a:hover {
  background: grey;
  border: 1px solid grey;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored a {
  border: 1px solid #ddd;
  background: #ddd !important;
}

.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active {
  background: transparent;
  background: none;
  color: grey;
}

.ftco-navbar-light .navbar-nav > .nav-item .nav-link.active span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@media (max-width: md) {
  .ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: grey;
  }
}

.ftco-navbar-light .navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0.5) !important;
  cursor: pointer;
  padding-right: 0;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.ftco-navbar-light .navbar-toggler:hover, .ftco-navbar-light .navbar-toggler:focus {
  text-decoration: none;
  color: grey;
  outline: none !important;
}

.ftco-navbar-light.scrolled {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-top: -130px;
  background: white !important;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0 15px;
}

@media (max-width: md) {
  .ftco-navbar-light.scrolled .nav-item > .nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 20px !important;
  }
}

.ftco-navbar-light.scrolled .nav-item.active > a {
  color: grey !important;
}

.ftco-navbar-light.scrolled .nav-item.cta > a {
  color: white !important;
  background: grey;
  border: none !important;
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-top: 5px !important;
  border-radius: 5px;
}

.ftco-navbar-light.scrolled .nav-item.cta > a span {
  display: inline-block;
  color: white !important;
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
  border-color: grey;
}

@media (max-width: md) {
  .ftco-navbar-light.scrolled .navbar-nav {
    background: none;
    border-radius: 0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
  }
}

.ftco-navbar-light.scrolled .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .1em;
}

.ftco-navbar-light.scrolled .nav-link {
  color: black !important;
}

.ftco-navbar-light.scrolled .nav-link.active {
  color: grey !important;
}

.ftco-navbar-light.scrolled.awake {
  margin-top: 0px;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.ftco-navbar-light.scrolled .navbar-brand {
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 24px;
}

.ftco-navbar-light.scrolled .navbar-brand span {
  color: grey;
}

.navbar-brand {
  font-weight: 900;
  font-size: 24px;
}

.navbar-brand span {
  font-weight: 900;
}

footer {
  background: #222222;
}

footer ul {
  padding: 0;
}

footer hr {
  background-color: #777;
}

footer h6 {
  color: #ccc;
}

footer h4 {
  font-size: 23px;
  font-weight: 400;
  color: #fff;
}

ul.list li a,
ul.list li {
  color: #777;
  font-size: 16px;
  letter-spacing: .5px;
}

ul.list li a:hover {
  color: #aaa;
}

ul.list li {
  list-style-type: none;
}

ul.list i {
  width: 25px;
  color: #888;
}

.copy-right {
  background: #161616;
  border-top: 1px dashed #636363;
}

.copy-right a {
  color: #777;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.copy-right a:hover {
  color: #aaa;
  text-decoration: none;
}

.copy-right ul.list {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.copy-right p {
  color: #777;
  font-size: 16px;
  letter-spacing: .5px;
}

.copy-right p a {
  color: #999;
}

.copy-right p a:hover {
  color: #eee;
}

@media (max-width: 991px) {
  .copy-right {
    text-align: center;
  }
  .copy-right ul.list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1em;
  }
}

@media (max-width: 568px) {
  .copy-right ul.list li {
    display: inline-block;
  }
}

/* --- ↑ Stylesheet---ends ↑ --- */
/*# sourceMappingURL=main.css.map */