.testimony {
    h3 {
        color: white;
        font-size: 1.2rem;
    }

    blockquote {
        font-size: 1.2rem;
        font-style: italic;
        color: white;
    }
}

.bg-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // background-attachment: fixed;

    &.overlay {
        position: relative;

        &:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            width: 100%;
            background: rgba(black, 0.2);
        }
    }

    >.container {
        position: relative;
        z-index: 1;
    }
}