/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
html,
body {
  margin: 0;
  font-size: 100%;
  background: #fff;
  font-family: '', sans-serif;
  -webkit-transition: all 1s;
  transition: all 1s;
}

html {
  scroll-behavior: smooth;
}

a {
  color: aqua;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: black;
  font-family: '', sans-serif;
}

li {
  list-style-type: none;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.btn-template {
  background-color: #E81050;
  border-color: #E81050;
  color: white;
  padding: 10px 30px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.btn-template:hover {
  background-color: white;
  border-color: white;
  color: black;
}

.btn-template:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center;
}

.intro.wrapper {
  position: relative;
}

.intro.wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.intro,
.intro > .container > .row {
  min-height: 600px;
  height: 100vh;
}

.intro h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  font-weight: 900;
}

@media (max-width: 991.98px) {
  .intro h1 {
    font-size: 2rem;
  }
}

.intro p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.section-header h3,
.section-header p {
  color: #fff;
}

.card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 100%;
}

.card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

.card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

.card h5 {
  font-size: 22px;
  font-weight: 600;
}

.card p {
  font-size: 15px;
  color: #d8eafe;
}

.card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

.card .readmore:hover {
  border-bottom: #fff solid 2px;
}

@media (max-width: 991px) {
  .card {
    margin: 0;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.gal-img {
  padding: 10px;
}

.gal-img img {
  border-radius: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.gal-img:hover.gal-img img {
  -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}

.gal-img a span {
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #1e272e;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
  background: #ffffff;
  display: block;
  padding: 1em;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .gal-img {
    padding: 10px;
    float: left;
    width: 50%;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.custom-icon-wrap .custom-icon-inner {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: grey;
}

.custom-icon-wrap .custom-icon-inner .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: .8rem;
}

.custom-icon-wrap h3 {
  font-size: 1.05rem;
  color: grey;
}

.custom-icon-wrap.custom-icon-light .custom-icon-inner {
  background: #615dc2;
  width: 45px;
  height: 45px;
}

.custom-icon-wrap.custom-icon-light h3 {
  color: black;
  font-size: 1rem;
}

.site-section {
  padding: 2.5em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.section-title {
  font-size: 3rem;
  color: black;
  margin-bottom: 1.8rem;
  font-weight: 900;
}

@media (max-width: 991.98px) {
  .section-title {
    font-size: 1.5rem;
  }
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*---------------------------------------------------- */
/*# sourceMappingURL=main.css.map */