$black: #000;
$white: #fff;
body{
    font-family: 'Titillium Web', sans-serif;
}
nav{
    font-weight: 600;
    .nav-link:active{
        color: $black;
    }
}
.intro{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    h1,p{
        font-weight: 200;
        color: $white;
    }
    .btn{
        font-weight: 400;
        border-radius: 0;
        background-color: $white;
    }
}
.about{
    .header{
        font-weight: 400;
        letter-spacing:  4px;
    }
    p {
        font-weight: 200;
        font-size: 20px;
    }
    .img{
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: $white;
        h6{
            font-size:12px;
        }
    }
}