@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
body{
  font-family: 'Montserrat';
}
header{
  background-image: url(../img/background-header.png);
  height: 128px;
  width: 100%;
  nav{
    margin-top: 3rem;
    a{
      // font-size: 0.7rem;
      // margin-left: 3rem;
      color: white;
      &:hover{color:#f8e530}
    }
  }
}
.first-like{
  position: relative;
  img{
    width: 100%;
  }
}
.digital-header{
  position: absolute;
  top: 21%;
  left: 45%;
  width: 20%;
  h2{
    font-size: 6.5rem;
    line-height: 4.9rem;
    letter-spacing: -0.4rem;
    font-weight: 900;
  }
}
