body{
  overflow-x:hidden;
}
header{
  background-image: url(../img/background-header.png);
  height: 128px;
  width: 100%;
  nav{
    margin-top: 60px;
    a{
      margin-left: 70px;
      color: white;
      &:hover{color:#f8e530}
    }
  }
}
.yellow{
  height: 895px;
  width:100%;
}
.map{
  width: 1623px;
  position: absolute;
  top: -860px;
  right: -30%;
}
.like{
  position: absolute;
  top: -730px;
  right: 56%;
}
.digital{
  position: absolute;
  top: -730px;
  right: 30%;
  h2{
    width: 108px;
    font-size: 131px;
  }
}
